#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#right {
    width: 440px;
}

.mg_left_10 {
    margin-left: 10px;
}

/* LEFT */

#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 32px;
    margin-top: 50px;
}

#setting {
    margin-top: 36px;
}

.img_text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    border-radius: 6px;
    padding-right: 15px;
    color: #fff;
    background-color: #757679;
}


/* CENTER */

#center {
    width: 910px;
    border-right: 2px solid rgb(223, 232, 232);
    border-left: 2px solid rgb(223, 232, 232);
}

#center_iterm {
    margin: 40px;
}
    /* MEETING TITLE */
#meeting_title {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#meeting_title_hour {
    position: relative;
    margin-top: 15px;
    width: 90px;
    height: 40px;
    color: red;
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
}

.point {
    width: 10px;
    height: 10px;
    margin-top: 16px;
    background-color: red;
    border-radius: 50%;
    margin-left: 16px;
}

#meeting_title_hour span {
    position: absolute;
    top: 12px;
    left: 32px;
}
    /* MEETING DAY */
.meeting_day_iterm1 {
    position: relative;
}

.meeting_day_iterm1 {
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: #E34D73;
    border-radius: 25px;
    margin-top: -3px;
}

.meeting_day_iterm1 img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 5px;
}

#metting_day {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    padding-left: 0;
    margin-bottom: 36px;
}

.meeting_day_iterm1 span {
    margin-left: 19px;
    margin-top: 5px;
}

    /* IMG BIG */
#img_big {
    position: relative;
    width: 830px;
    height: 460px;
}

#img_big img:first-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#mic_color {
    position: absolute;
    top: 15px;
    right: 25px;
}

.img_big_text {
    height: 40px;
    width: 160px;
    top: 15px;
    left: 25px;
}

.img_big_text span {
    margin-top: 10px;
}

    /* IMG FRIENDS */
.chistian {
    position: relative;
    width: 262px;
    height: 162px;
    border-radius: 6px;
}


#mic_grey {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
}

.img_chistain_text {
    width: 120px;
    height: 30px;
    top: 10px;
    left: 10px;
}

.friends_point {
    margin-top: 10px;
}

.img_chistain_text span {
    margin-top: 6px;
    margin-left: 2px;
}

#img_friends {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 26px;
}

/* BOTTOM CENTER */
#bottom_center {
    display: flex;
    justify-content: center;
}

#end_meeting {
    display: inline-flex;
    color: #fff;
    background-color: #F22128;
    width: 126px;
    border-radius: 4px;
    text-align: center;
    font-size: 19px;
}

#end_meeting span {
    margin-top: 10px;
    margin-left: 14px;

}

.bottom_center_iterm {
    height: 45px;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

/* RIGHT */
.container_rt {
    margin: 36px;
}

    /* TITLE */

.title_4 {
    display: flex;
    
}

.title_4 span {
    margin-left: 6px;
    margin-top: 32px;
    color: #E34D73;
    background-color: pink;
    width: 20px;
    height: 22px;
    text-align: center;
    border-radius: 45%;
}

#rt_add {
    position: relative;
    color: #E34D73;
    border: 1px solid #E34D73;
    width: 72px;
    height: 37px;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
}

#rt_add span {
    position: absolute;
    top: 9px;
    left: 16px;
}

#rt_add span:last-child {
    left: 31px;
}

.rt_title {
    display: flex;
    justify-content: space-between;
}

.rt_iterm {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.iterm_left span {
    vertical-align: 12px;   
}

.rt_con {
    margin-top: 20px;
    height: 235px;
}

.right_top {
    height: 335px;
    border-bottom: 2px solid rgb(223, 232, 232);
}

#back_grey {
    background-color: #e2e3e4;
    border-radius: 4px;
    /* padding-left: 10px; */
}

#back_grey span {
    padding: 4px;

}

.table_one {
    width: 385px;
    height: 110px;
}

.table_one:last-child {
    width: 200px;
    height: 40px;
}

#add_text {
    position: relative;
    width: 390px;
    height: 30px;
    margin: 0;
}

#add_text p {
    width: 324px;
    height: 30px;
    color: grey;
    background-color: #e2e3e4e2;
    padding-top: 10px;
    padding-left: 20px;
}

#send {
    position: absolute;
    top: 0px;
    bottom: 6px;
    right: 0;
}

.right_bottom {
    margin-left: 37px;

}

#typing {
    background-color: rgb(237, 237, 237); 
    padding: 4px; 
    border-radius: 4px; 
    color: grey; 
    width: 67px; 
    height: 26px;
    margin: 0;
    margin-left: 50px;
}