* {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

div {
    width: 400px;
    height: 235px;
    box-shadow: 0 0 10px rgb(0 0 0 / 70%);
    margin-left: 50px;
}

.p {
    color: #993738;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
}

#table {
    border-collapse: collapse;
    width: 380px;
    margin-left: 10px;
    border: 1px solid rgb(177, 55, 14);
}

#table tr, td {
    border: 1px solid rgb(177, 55, 14);
}

.heading {
    background-color: #993738;
    color: #fff;
}

.chan td:last-child, 
.le td:last-child {
    float: right;
    padding-right: 4px;
}

.chan td:first-child, 
.le td:first-child,
.heading th:first-child {
    padding-left: 4px;
}

.heading th:first-child {
    float: left;
}

.le td:last-child {
    border: 1px solid #fff;
}

.chan td:last-child {
    border: 1px solid #ddd;
}

.chan {
    background-color: #ddd;
}

#table .chan td:last-child {
    margin-right: 0;
}